!!!
%html
  %head
    %title Mana
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    %center
      %h1.hyper
        != "M<span class='orange'>&alpha;</span>n<span class='orange'>&alpha;</span>"

  = yield
