!!!
%html{:lang => "en"}
  %head
    %title Mana
    -# %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery.ui.all.css", :rel => "stylesheet"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js", :type => "text/javascript"}/
    -# %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", :type => "text/javascript"}/

    %script{:src => "/javascripts/vendor/jquery-1.4.4.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/jquery-ui-1.8.6.custom.min.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/humanity/jquery-ui-1.8.6.custom.css", :rel => "stylesheet"}

    %script{:src => "/javascripts/vendor/mousehold.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/objects.css", :rel => "stylesheet"}/

    -# TODO: add -min when on production
    %script{:src => "/javascripts/vendor/underscore.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/backbone.js", :type => "text/javascript"}

    - @scripts.each do |script|
      %script{:src => "/javascripts/client/#{script}.js ", :type => "text/javascript"}

    %script{:src => "/javascripts/utils.js", :type => "text/javascript"}
    %script{:src => "/javascripts/game.js", :type => "text/javascript"}

    %script{:src => "/javascripts/commands/move_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/server_command.js", :type => "text/javascript"}

    %script{:src => "/javascripts/dropbox.js", :type => "text/javascript"}
    %script{:src => "/javascripts/battlefield.js", :type => "text/javascript"}
    %script{:src => "/javascripts/hand.js", :type => "text/javascript"}
    %script{:src => "/javascripts/shuffle.js", :type => "text/javascript"}
    %script{:src => "/javascripts/lobby.js", :type => "text/javascript"}
    %script{:src => "/javascripts/pack_unpack.js", :type => "text/javascript"}
    %script{:src => "/javascripts/controls.js", :type => "text/javascript"}
    %script{:src => "/javascripts/boot.js", :type => "text/javascript"}


    :javascript
      $(document).ready(function() {
        game = new Game('ws://#{ADDRESS}:#{WEBSOCKET_PORT}','#{@game_id}');
        #{ENV['RACK_ENV'] == 'development' ?  'lobby_submit();' : ''}
        console.env = '#{ENV['RACK_ENV']}';
      });

%body
  = haml(:_lobby, :layout => false)
  = haml(:_create_card, :layout => false)

  #chat-bar
    %label Say:
    %input#chat-input{ :name => 'message' }

  #battlefield
    -# #token.token
    -#   %h1 1/1

  #infobox{ :style => 'display:none' }
    %p

  #side-panel
    #users

  #hand
    %h2 Hand

  = haml(:_footer, :layout => false)
  = haml(:_help, :layout => false)

  #coffin{:style => "display: none"}
    = haml :_templates

  = haml :_google_analytics if ENV['RACK_ENV'] == 'production'
