!!!
%html
  %head
    %title Mana
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    = render 'shared/menu'

  #outer
    #cards.inner
      - @stamps.each do |stamp|
        - if stamp
          = link_to image_tag(stamp.frontside_url), stamp.frontside_url, :target => '_blank'
        - else
          = link_to image_tag('/assets/back.jpg'), '/'

  %ul#button-bar
    %li= link_to 'New game', new_game_path, :class => 'button'
    %li= link_to 'Join a game', games_path, :class => 'button'
