<div {{bind-attr class=":card card.tapped"}}>
  {{#if card.covered}}
    <img src='/assets/back.jpg' width="200">
  {{else}}
    {{#if card.flipped}}
      <img {{bind-attr src=card.backside}} width="200">
    {{else}}
      <img {{bind-attr src=card.frontside}} width="200">
    {{/if}}
    {{#if card.counters}}<span class="counters">{{card.counters}}</span>{{/if}}
    {{#if card.power_and_toughness}}<span class="power">{{card.power_and_toughness}}</span>{{/if}}
  {{/if}}
</div>
