<div {{bind-attr class=":card card.tapped"}}>
  <img {{bind-attr src=card.frontside}} width="200">
  <span class="counters">{{card.counters}}</span>
  <span class="power">{{card.power}}/{{card.toughness}}</span>
</div>
