<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <title>
      <%= "Mana - #{@game.name} - ERB" %>
    </title>
    <%= stylesheet_link_tag 'client' %>
    <%= javascript_include_tag 'client' %>
  </head>
</html>
<body data-no-turbolink="<%= true %>" >
  <script type="text/x-handlebars">
    <h1>Just playing: '<%= @game.name %>'</h1>
    <nav>
    </nav>
    <hr>

    <button {{action 'add_stuff'}}>Add!</button>
    <button {{action 'remove_stuff'}}>Remove!</button>
    Size: {{number_of_cards}}
    {{outlet}}
    <div id='slotty'></div>
    <hr>
  </script>

  <script type="text/x-handlebars" id="slot">
    <ul class='slot'>
    </ul>
  </script>

</body>
