!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name} - haml"
    = stylesheet_link_tag 'client'
    = stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css'
    = javascript_include_tag 'client'
    :javascript
      Mana.current_player_id = '#{current_player.id}';
      console.debug ('Current player: ' +  Mana.current_player_id);


  %body#ember-app{ 'data-no-turbolink' => true }
