!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name}"

    = stylesheet_link_tag 'client'
    = javascript_include_tag 'client'

    - unless @debug
      :css
        .debug { display: none; }

    :javascript
      $(document).ready(function() {
        if (window.has_enough_mana()) {
          var battlefield_view = new BattlefieldView({ model: CardCollection.all.battlefield });
          var exile_view = new Dropbox({ model: CardCollection.all.exile });
          exile_view.el.appendTo($('#right-panel .commons'));

          new ChatView({ model: Message.all });

          console.env = '#{Rails.env}';

          Socket.instance = new Socket('ws://#{@websocket_host}:#{@websocket_port}/games/#{@game.id}/players/#{@player.id}', "#{@player.id}");

          Socket.instance.bind('socket:connected', function() {
            console.info('Connected to server');
          });

          #{ "$('#help').toggle()" unless Rails.env.development? }
          Socket.instance.connect();
        }
      });


%body
  = render('shared/create_card', :layout => false)

  #left-panel.side-panel
    .users

  #desk
    #top-panel
      %ol.message-list

      %form
        %input.chat-input{ :name => 'message', :placeholder => 'Say...', }
        %input.send-button.button{ :value => 'Send', :type => 'submit' }
        %a.close-button.button Close

    %table#battlefield
      %tbody.remote
      %tbody.spacing
        %tr
          %td{ :colspan => 8 }
      %tbody.local


  #right-panel.side-panel
    .commons
    .users

  = render('shared/footer', :layout => false)
  = render('shared/help', :layout => false)

  #coffin{:style => "display: none"}
    = render('shared/templates', :layout => false)

  - if Rails.env.production?
    = render('shared/google_analytics', :layout => false)
