!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name}"

    = stylesheet_link_tag 'client'
    = javascript_include_tag 'client'

    - unless @debug
      :css
        .debug { display: none; }

    :javascript
      $(document).ready(function() {
        if (window.has_enough_mana()) {
          var layout = new Layout({ model: User.all });

          var battlefield_view = new BattlefieldView({ model: CardCollection.all.battlefield });
          var exile_view = new Dropbox({ model: CardCollection.all.exile });
          exile_view.el.appendTo($('#right-panel .commons'));

          console.env = '#{Rails.env}';

          User.local_player_id = '#{@player.id}';

          Socket.instance = new Socket('ws://#{@websocket_host}:#{@websocket_port}/games/#{@game.id}/players/#{@player.id}');

          Socket.instance.bind('socket:connected', function() {
            console.info('Connected to server');
          });

          new OverlayView({ model: Socket.instance });
          new ChatView({ model: Message.all });

          #{ "$('#help').toggle()" unless Rails.env.development? }
          Socket.instance.connect();
        }
      });


%body
  = render('shared/create_card', :layout => false)

  #left-panel.side-panel
    .users

  #desk
    #top-panel
      .handle
      %ol.message-list

      %form
        %input.chat-input{ :name => 'message', :placeholder => 'Say...', }
        %span.button-bar
          %input.send-button.button{ :value => 'Send', :type => 'submit' }
          %a.close-button.button{ :hint => 'Close chat (ESC)'} Close

    #battlefield
      %table.remote
      %table.local

  #right-panel.side-panel
    .commons
    .users

  = render('shared/footer', :layout => false)
  = render('shared/help', :layout => false)

  #coffin{:style => "display: none"}
    = render('shared/templates', :layout => false)

  #overlay{:style => "display: none"}
    %h1
      Connecting...

  - if Rails.env.production?
    = render('shared/google_analytics', :layout => false)
