!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name}"

    = stylesheet_link_tag 'client'
    = javascript_include_tag 'client'

    :javascript
      $(document).ready(function() {
        var battlefield = new Battlefield();
        var bview = new BattlefieldView({ model: battlefield });
        User.all.bind('add', bview.render_user_areas)

        chat = new Chat();
        new ChatView({ model: chat });


        var info = new InfoView({ model: chat });
        InfoView.instance = info;

        chat.bind('add', info.render);
        // Socket.instance.bind('socket:connected', lobby.open);

        console.env = '#{Rails.env}';

        Socket.instance = new Socket('ws://#{@websocket_host}:#{@websocket_port}/games/#{@game.id}/players/#{@player.id}','#{@game.id}');

        Socket.instance.bind('arrived:message', chat.message_arrived );
        Socket.instance.bind('socket:connected', function() {
          var attrs = #{@game.to_json};
          attrs['id'] = '#{@game.id}';
          game = new Game(attrs);
          // Socket.instance.start_game(game, User.local);
        });

        Socket.instance.connect();
      });

%body
  = render('shared/lobby', :layout => false)
  = render('shared/create_card', :layout => false)
  = render('shared/playground', :layout => false)

  #infobox{ :style => 'display:none' }
    %p

  #chat-bar
    %label Say:
    %input#chat-input{ :name => 'message' }

  = render('shared/footer', :layout => false)
  = render('shared/help', :layout => false)

  #coffin{:style => "display: none"}
    = render('shared/templates', :layout => false)

  - if Rails.env.production?
    = render('shared/google_analytics', :layout => false)
