<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <title>
      <%= "Mana - #{@game.name} - ERB" %>
    </title>
    <%= stylesheet_link_tag 'client' %>
    <%= javascript_include_tag 'client' %>
  </head>
</html>
<body data-no-turbolink="<%= true %>" >
  <script type="text/x-handlebars">
    <h1>Just playing: '<%= @game.name %>'</h1>
    <nav>
      {{#link-to 'cards'}}cards{{/link-to}}
    </nav>
    <hr>
    {{outlet}}
    <hr>
  </script>

  <script type="text/x-handlebars" id="cards">
    <h2>Cards</h2>
    {{#each}}
      {{active-card card=this}}
    {{else}}
      No cards to render.
    {{/each}}
  </script>


</body>
