#content.create_player

  = semantic_form_for @player, :url => game_players_path(@game) do |f|

    = f.inputs do
      = f.input :name, label: 'Player name'
      = f.input :prepared_deck, as: :select, collection: { 'No cards, just watch the game.' => 'WATCH', 'All the cards below:' => 'ADHOC' }, include_blank: false, label: 'Deck'
      = f.input :mainboard, :as => :text, :label => 'Cards', :hint => 'One card name and count per-line: 1;Black Lotus'

    = f.actions do
      = f.action :submit, label: "Join the '#{@game.name}'"
      %li= link_to 'Back', games_path

:coffeescript
  $ ->
    $('#player_prepared_deck').change ->
      val = $('#player_prepared_deck option:selected').val()
      board = $('#player_mainboard_input')

      if val == 'WATCH'
        board.find('textarea').prop('disabled', true);
        board.fadeOut()
      else
        board.find('textarea').prop('disabled', false);
        board.fadeIn()
