#content.create_player

  = semantic_form_for @player, :url => game_players_path(@game) do |f|

    = f.inputs do
      = f.input :name
      = f.input :color
      #color-picker{ :style => 'display:none;' }

      = f.semantic_fields_for :deck do |d|
        - if current_user
          -#
          -# Faked Formtastic Input
          -#
          %li#prepared_deck_input.select.input.optional
            %label{ :for => 'prepared_deck'} Deck
            %select#prepared_deck{ :name => 'prepared_deck' }
              %option{ :value => '1;Black Lotus', "data-sideboard" => '' }
                Custom

              - current_user.decks.each do |deck|
                %option{ :value => deck.mainboard, "data-sideboard" => deck.sideboard }
                  = deck.name

        = d.input :mainboard, :as => :text, :label => 'Cards', :hint => deck_hint

      = f.buttons do
        = f.commit_button "Join '#{@game.name}'"
        %li= link_to 'Back', games_path

:coffeescript
  console.info 'asdfdsa'
  $('#prepared_deck').change ->
    txt = $('#prepared_deck option:selected').val()
    console.info txt
    $('#player_deck_mainboard').val(txt)