#content.create_player

  = semantic_form_for @player, :url => game_players_path(@game) do |f|

    = f.inputs do
      = f.input :name
      - tip = current_user.nil? ? "<b>TIP</b>: Login to enable deck management tools!".html_safe : ""
      = f.input :deck, :as => :text, :hint => tip

      = f.buttons do
        = f.commit_button "Join the '#{@game.name}' game"
        %li= link_to 'Back', games_path
