#content.create_player

  = semantic_form_for @player, :url => game_players_path(@game) do |f|

    = f.inputs do
      = f.input :name, label: 'Player name'
      = f.input :deck, as: :select, collection: available_decks, include_blank: false
      = f.semantic_fields_for :deck do |d|
        = d.input :mainboard, :as => :text, :hint => 'One card name and count per-line: 1;Black Lotus'

    = f.actions do
      = f.action :submit, label: "Join the '#{@game.name}'"
      %li= link_to 'Back', games_path

:coffeescript
  $(document).on 'ready page:load', ->
    $('#player_deck_id').change ->
      val = $('#player_deck_id option:selected').val()
      board = $('#player_deck_attributes_mainboard_input')

      if val == 'ADHOC'
        board.find('textarea').prop('disabled', false);
        board.fadeIn()
      else
        board.find('textarea').prop('disabled', true);
        board.fadeOut()
