<div class='controls'>
  {{view Mana.HandView holder=current_player.hand }}

  <div class="libraries">
    <div class="piles">
      {{view Mana.PackView holder=current_player.library }}
      {{view Mana.PackView holder=current_player.graveyard }}
      {{view Mana.PackView holder=current_player.exile }}
      <div class="pile-container">
        <button class="next-turn">
          Next  Turn
        </button>
      </div>
    </div>
  </div>

  {{view Mana.ChatView}}
</div>

<div class='tables'>
  {{#each player in players}}
    {{view Mana.TableView player=player}}
  {{/each}}
</div>

{{outlet}}