<h1>{{ capitalize name }}</h1>

<ul>
  <li>
    <button {{ action 'shuffle' bubbles=false}}>Shuffle</button>
  </li>
  <li>
    <button {{ action 'show_all' bubbles=false}}>Show All</button>
  </li>
  <li>
    <!--
    <button {{ action 'show_next' bubbles=false}}>Show One More</button>
    -->
  </li>
</ul>

{{outlet}}