<div class="status">Chat</div>
<form {{action "send_message" on="submit"}} >
  <input type='hidden' name="player_id" value="{{current_player.id}}">
  {{input type="text" placeholder="Say.."  value=newMessage }}
  {{input type="submit" value="Send"}}
</form>
<table>
  {{#each messages}}
    <tr>
      <th>{{player.name}}</th>
      <td>{{text}}</td>
    </tr>
  {{else}}
    <tr><td colspan="2">No messages.</td></tr>
  {{/each}}
</table>
