<div class="status">Chat</div>
<form {{action "send_message" on="submit"}} >
  {{input type="text" placeholder="Say.."  value=new_chat_message autofocus='autofocus'}}
  {{input type="submit" value="Send"}}
</form>
<table>
  <tbody>
  {{#each messages}}
    <tr>
      <th>{{player.name}}</th>
      <td>{{text}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
