<div class="card-image">
  <img {{bind-attr src=frontside}} {{bind-attr alt=name}}>
  <h1>{{src}}</h1>
</div>
<div class="info">
  <h1>{{name}}</h1>
  <table class="pure-table">
    <thead>
    <tr>
      <th>Counters</th>
      <th>Power</th>
      <th>Toughness</th>
    </tr>
    </thead>
    <tbody>
      <tr>
      {{ view Mana.PlusMinusView content=counters tagName="td"}}
      {{ view Mana.PlusMinusView content=power tagName="td"}}
      {{ view Mana.PlusMinusView content=toughness tagName="td"}}
    </tr>
    </tbody>
  </table>

  <h3>Actions</h3>
  <ul>
    <li><button {{ action 'toggleCovered' this target="view" }}>Face Up/Down</button></li>
    <li><button {{ action 'tap' this target="view" }}>Tap</button></li>
    {{#if backside }}
      <li><button {{ action 'flip' this target="view" }}>Flip</button></li>
    {{/if}}
  </ul>

  <h3>Move To</h3>
  <ul>
    <li><button {{ action 'move_card_to' this 'hand' }}>Hand</button></li>
    <li><button {{ action 'move_card_to' this 'graveyard' }}>Graveyard</button></li>
    <li><button {{ action 'move_card_to' this 'exile' }}>Exile</button></li>
    <li><button {{ action 'move_card_to' this 'deck' }}>Top of the Deck</button></li>
    <li><button {{ action 'move_card_to' this 'deck' true}}>Bottom of the Deck</button></li>
  </ul>
</div>
