<div class="card-image">
  <img {{bind-attr src=frontside}} {{bind-attr alt=name}}>
</div>
<div class="info">
  <h1>{{name}}</h1>
  <table class="pure-table">
    <thead>
    <tr>
      <th>Counters</th>
      <th>Power</th>
      <th>Toughness</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      {{ view Mana.PlusMinusView content=counters tagName="td"}}
      {{ view Mana.PlusMinusView content=power tagName="td"}}
      {{ view Mana.PlusMinusView content=toughness tagName="td"}}
    </tr>
    </tbody>
  </table>
</div>
