<div class="status">
  {{ player.name }} |
  Hand: {{ player.hand.length }} |
  Graveyard: {{ player.deck.length }} |
  Deck: {{ player.deck.length }} |
  Lives: {{ player.lives }}
  <button {{action 'add_live' player}}>+</button>
  <button {{action 'subtract_live' player}}>-</button>
</div>
<div class="slots">
  {{#each slot in player.battlefield_slots}}
   {{view Mana.SlotView content=slot.cards holder=slot position=_view.contentIndex }}
  {{/each}}
</div>
