= semantic_form_for @deck do |f|

  = f.inputs do
    = f.input :name
    = f.input :mainboard, :as => :text
    = f.input :sideboard, :as => :text

    = f.actions do
      = f.action :submit
      %li= link_to 'Back', decks_path
