%h1
  = @deck.name

  = link_to 'Back', decks_path, class: 'button'
  = link_to 'Edit', edit_deck_path(@deck)

.deck
  - @deck.each_card do |stamp,count|
    %div.deck_card
      .count
        %span
          = count
      %img{ src: stamp.frontside, title: "#{count}x #{stamp.name}" }
